body{
    background-color: white;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    flex-direction: flex;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    width: 90%;
    max-width: 1200px;;
    padding: 40 20px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.texto-principal{
    display: flex;
    flex-direction: column;
    flex: 1.5;
    text-align: left;
    gap: 20px;

}
h1.titulo-azul{
    color: #2092D3;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.subtopico-preto{
    color: #13225E;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    display: incline;
    margin-bottom: 10px
}

.subtopico-azul{
    color: #2092D3;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    display: incline;
    margin-bottom: 10px
}

.paragrafo-preto{
    color: black;
    font-family: verdana;
    text-align: right;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

#lista-preta{
    color: black;
    font-family: 'Poppins';
    text-align: right;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px; 
}

.paragrafo-preto{
    color: black;
    font-family: verdana;
    text-align: left;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 5px;
    margin-bottom: 5px; 
}

.paragrafo-azul{
    color: #2092D3;
    font-family: verdana;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 5px;
    margin-bottom: 5px;
    flex: 2; 
}

h1>{
    color: #13225E;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.chamada-final{
    color: #13225E;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}


#imagem{
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

#imagem img {
    max-width: 100%;
    height: left;
    display: left;
}